<!doctype html>
<html lang="en">

<head>
    <title>Calendar View</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            // let holidays_js = {{holidays | tojson}};
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    {% for holiday, types in zip(holidays, holiday_types)%}
                    {
                start: '{{holiday}}',
                display: 'background',
                        {%if types == 'bank holiday' %}
        color: '#7FC8F8'
        {% elif types == 'Selected' %}
        color: '#783F8E'
        {%else%}
        color: '#72B01D'
        {% endif %}
                    },
        {% endfor %}
                ]
                
            });
        calendar.setOption('height', 600);
        calendar.render();
        let _startdate = new Date('01/01/{{year}}')
        calendar.gotoDate(_startdate)
              });
    </script>
</head>

<body>
    <main>
        <div class="container" style="right: 2px;">

            <div class="container" style="width: 40%; margin-top:5px;">
                <div class="row">
                    <div class="col">
                        <div class="card text-dark bg-info mb-3" style="width: 11rem;">
                            <div class="card-header">
                                Remaining Holidays
                            </div>
                            <div class="card-body">
                                <div class="card-title" style="font-size:large;text-align: center;vertical-align: middle;line-height: 100%; font-weight: bold;">
                                    {{remaining_days}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row" style="margin-bottom:5px;">
                            <div class="col">
                                <div style="width:30px; height:30px; background-color: #7FC8F8;right:0;"></div>
                            </div>
                            <div class="col">
                                Bank Holidays
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:5px;">
                            <div class="col">
                                <div style="width:30px; height:30px; background-color: #72B01D;"></div>
                            </div>
                            <div class="col">
                                Suggestions
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:5px;">
                            <div class="col">
                                <div style="width:30px; height:30px; background-color: #783F8E;"></div>
                            </div>
                            <div class="col">
                                Selected
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calendar" id="calendar"></div>
        </div>
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>